.App {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none
}

form {
  margin: 20px auto 20px auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 10px;
  height: 5vh;
}

.todo-container {
  display: flex;
  justify-content: center;
}

.todo-li {
  border: 2px solid grey;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  width: 70vw;
  cursor: pointer;
}

.todo-todo {
  flex: 5
}

.todo-button-container {
  flex: 3;
  display: flex;
  justify-content: flex-end;
}

.todo-button {
  margin: 5px
}

