.App {
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.header-nav {
  display: flex;
  width: 50vw;
  margin: auto;
  justify-content: space-between;
}

.header-nav-links {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  margin: 20px auto 20px auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form > * {
  /* border: 1px solid green; */
  margin: 1vh;
  height: 5vh;
}

.form-item {
  display: flex;
  flex-direction: column;
  height: 10vh
}

.form-item > label {
  /* border: 1px solid red; */
  margin-bottom: 1vh;
  margin-left: 1vw
}

.form-item > input {
  /* border: 3px solid blue; */
  height: 3.5vh;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}

form > button {
  width: 10vw;
  margin: auto;
  height: 3.5vh
}

#submit-button {
  margin: auto;
  margin-top: 1vh;
  width: 20vw;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-top: 2vh
}

.todo-li {
  border: 2px solid grey;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  width: 70vw;
  cursor: pointer;
}

.todo-todo {
  flex: 5
}

.todo-button-container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.todo-button {
  margin: 5px
}

