/* ------ begin boilerplate ------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  /* font-size: 62.5%; (62.5/100) * 16px = 10px */
  font-size: 0.8vw;
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}
p {
  font-family: 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
}

@media (prefers-reduced-motion: no-preference) {
  html {
        scroll-behavior: smooth;
  }
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

button,
select,
[type=radio],
[type=submit],
[type=checkbox] {
  cursor: pointer;
}

body {
  overflow: scroll;
}

/* ------ end boilerplate ------- */

.App {
  display: flex;
  flex-direction: column;

/* color variables */
--main-lightest: white;
--second-lightest: 
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.header-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('./images/header-top.svg');
  background-position: top-left;
  background-repeat: no-repeat;
  background-size: 100%;
}

.header-nav {
  display: flex;
  width: 100%;
  height: 12em;
  margin: auto;
  margin-top: 0px;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  border: 3px solid red;
}

@font-face {
  font-family: Knewave;
  src: url('./fonts/Knewave-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Regular.ttf');
}

.crispytodo-title {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: #000;
  font-family: Knewave;
  font-size: 4em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-nav-links {
  width: 25vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid green;
  justify-content: space-between;
}

.header-nav-links > * {
  margin-right: 10px;
  margin-left: 10px;
}

.header-nav-text {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: #000;
  font-family: Roboto;
  font-size: 4.5em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-image: url('./images/fried-chicken.svg');
  background-repeat: no-repeat;
  /* background-size: 80%; */
  background-position: center;
  height: 10vh;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  margin: 20px auto 20px auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form > * {
  /* border: 1px solid green; */
  margin: 1vh;
}

form > input {
  height: 3vh
}

.form-item {
  display: flex;
  flex-direction: column;
  height: 10vh
}

.form-item > label {
  /* border: 1px solid red; */
  margin-bottom: 1vh;
  margin-left: 1vw
}

.form-item > input {
  /* border: 3px solid blue; */
  height: 3vh;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}

form > button {
  width: 10vw;
  margin: auto;
  height: 3.5vh;
  cursor: pointer
}

#submit-button {
  margin: auto;
  margin-top: 1vh;
  width: 20vw;
}

.message {
  /* border: 2px solid green; */
  margin: auto
}

.login-register-text {
  margin: auto
}

.register-text {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-top: 2vh
}

.todo-li {
  border: 2px solid grey;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  width: 70vw;
  cursor: pointer;
}

.todo-todo {
  flex: 5
}

.todo-button-container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.todo-button {
  margin: 5px
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 4vh;
}

.logout-container > * {
  margin-bottom: 2vh
}

.crispy-footer {
  display: flex;
  justify-content: center;
}

